.container {
    background-color: #181a209d;
    width: 99%;
    display: flex;
    justify-content: center;
    padding: 7px 0;
    position: fixed;
    left: 0;
    top: 0;
    padding: 0 11%;
}

.linkListContainer {
    width: 40%;
    display: flex;
    justify-content: space-between;
    padding: 10px 0;
}

.link, .activLink {
    color: white;
    font-size: 17px;
    font-family: sans-serif;
    text-decoration: none;
    padding: 3px;
    border-radius: 10px;
}

.activLink {
    color: gold;
}